<ion-header>
  <ion-toolbar>
    <ion-title>Quick Guide</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="{ initialSlide: 0, speed: 400 }">

    <ion-slide>
      <ion-grid>
        <ion-row>
          <img id="firstSlide" src="assets/slides/welcome.svg"/>
          <div class="ion-margin">
            <h2><u>Welcome!</u></h2>
            <p>Smart Gallery lets you sort your <b>new</b> images by using your created schedule. All of the images and lessons are <u>stored locally</u>!</p>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/add.png"/>
          <div class="ion-margin">
            <h2 class="ion-margin"><u>When adding a Lesson</u></h2>
            <p class="ion-margin">Fill out the form, choose a lesson color and press save.</p>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/secondWeek.png"/>
          <div class="ion-margin">
            <h2 class="ion-margin"><u>Customize Schedule</u></h2>
            <p class="ion-margin">When adding a lesson pick one of the <b>Repeat</b> options to repeat that lesson accordingly.</p>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/repeat.png"/>
          <div class="ion-margin">
            <h2 class="ion-margin"><u>Starting Week</u></h2>
            <p class="ion-margin">Pick the week when the lesson should initially <b>Start</b>.</p>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/shedule.png"/>
          <div class="ion-margin">
            <h2 class="ion-margin"><u>Schedule</u></h2>
            <p class="ion-margin">Change or delete lessons by <b>pressing & holding it</b>.</p>
          </div>
        </ion-row>
      </ion-grid>
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/camera.png"/>
          <div class="ion-margin">
            <h2 class="ion-margin"><u>Camera</u></h2>
            <p class="ion-margin"><b>Create & manage</b> your sorted images by opening a folder or deleting it.</p>
          </div>
        </ion-row>
     </ion-grid>
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/folder.png"/>
          <div class="ion-margin">
            <h2 class="ion-margin"><u>Folder</u></h2>
            <p class="ion-margin">View images and edit or delete them by <b>pressing & holding</b> the image.</p>
          </div>
          <br>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="assets/slides/changeImages.png"/>
          <div class="ion-margin">
            <h2><u>Edit</u></h2>
            <p>Move the images to other folders in order for you to customize your gallery</p>
            <ion-button (click)="dismissModal()" expand="full">Start</ion-button>
          </div>
          <br>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
