<ion-card #card color="{{ lesson.color }}" [id]="lesson.id">
  <ion-card-header class="text-center">
    <ion-grid>
      <ion-row>
        <ion-col><ion-card-title><u>{{ lesson.subject }}</u></ion-card-title></ion-col>
        <ion-col class="ion-text-end"><ion-text>{{ lesson.weekDay }}</ion-text></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
        <ion-col>
          {{lesson.timeFrame.fromTime | date:'H:mm'}} - {{lesson.timeFrame.toTime | date:'H:mm'}}
        </ion-col>
        <ion-col>
          <div class="ion-float-right">
            <ion-icon size="large" name="repeat"></ion-icon>
            <ion-badge color="dark" style="position: absolute; top: -3px;">{{ lesson.repeatWeek }}</ion-badge>
          </div>
        </ion-col>
    </ion-grid>
  </ion-card-content>
</ion-card>