<ion-card #card color="{{ lesson.color }}" [id]="lesson.id">
  <ion-card-header>
    <ion-card-title>{{ lesson.subject }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
        <ion-col>
          {{lesson.timeFrame.fromTime | date:'H:mm'}} - {{lesson.timeFrame.toTime | date:'H:mm'}}
        </ion-col>
        <ion-col>
          <h2 class="ion-float-right">{{ lesson.repeatWeek }}<ion-icon name="repeat"></ion-icon></h2>
        </ion-col>
    </ion-grid>
  </ion-card-content>
</ion-card>