<ion-header>
  <ion-toolbar>
    <ion-title>
      Camera & Images
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item #folder *ngFor="let item of folderList" lines="full" (click)="navigateToImageFolder(item.subjectID, item.subject)" routerDirection="forward">    
      <ion-button (click)="presentAlert(item.subject, item.subjectID)" color="dark" slot="start" size="small"><ion-icon  name="trash"></ion-icon></ion-button>
      <ion-badge color="{{ item.color }}" slot="end">{{ item.count }}</ion-badge>
      <ion-label>{{ item.subject }}</ion-label>
      <ion-icon color="{{ item.color }}" slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>  
    </ion-button>
  </ion-toolbar>
</ion-footer>
