<ion-header>
  
  <ion-toolbar>
    <ion-title>Lesson</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Required</ion-label>
      </ion-item-divider>

      <ion-item (click)="setWeekDay()">
        <ion-label>weekday <ion-text color="danger">*</ion-text></ion-label>
        <ion-text class="ion-padding-end">{{ weekDay }}</ion-text>
        <ion-icon color="primary" name="today-sharp"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>subject <ion-text color="danger">*</ion-text></ion-label>
        <ion-input autocomplete="on" class="ion-padding-end" type="text" [(ngModel)]="subject" id="input" ngModel pattern="[a-zA-Z ]*"></ion-input><ion-icon color="primary" name="text"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label>start <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime *ngIf="!defaultTime" class="ion-padding-end" displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="fromTime" (ionChange)="addDefaultTime()"></ion-datetime><ion-icon *ngIf="!defaultTime" color="primary" name="time"></ion-icon>
        <ion-datetime *ngIf="defaultTime" class="ion-padding-end" displayFormat="HH:mm" [(ngModel)]="fromTime" (ionChange)="addDefaultTime()"></ion-datetime><ion-icon *ngIf="defaultTime" color="primary" name="time"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label>end <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime *ngIf="!defaultTime" class="ion-padding-end" displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="toTime"></ion-datetime><ion-icon *ngIf="!defaultTime" color="primary" name="timer"></ion-icon>
        <ion-datetime *ngIf="defaultTime" class="ion-padding-end" displayFormat="HH:mm" [(ngModel)]="toTime" ></ion-datetime><ion-icon *ngIf="defaultTime"color="primary" name="timer"></ion-icon>
      </ion-item>
    </ion-item-group>

    
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Optional</ion-label>
      </ion-item-divider>

        <ion-item lines="full" (click)="setWeekCycle()">
          <ion-label class="ion-no-padding">repeat</ion-label>
          <ion-text class="ion-padding-end">{{ repeatWeekText }}</ion-text><ion-icon color="primary" name="repeat"></ion-icon>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label class="ion-no-padding">begin</ion-label>
          <ion-datetime class="ion-padding-end" displayFormat="MMM DD, YYYY" [(ngModel)]="startingDate" min="{{ minTime }}" max="{{ maxTime }}"></ion-datetime>
          <ion-icon color="primary" name="calendar-sharp"></ion-icon>
        </ion-item>
    </ion-item-group>

    <ion-button (click)="setStorage()" expand="block">Save</ion-button> 
  </ion-list>
</ion-content>
