<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ subject }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let image of imagesList" size="6">
        <app-images (removeSpecificImage)='removeSpecificImage($event)' (editSpecificImage)='editSpecificImage($event)' [image]="image.safeURL" [subject]="subject" [imagesList]="imagesList" [id]="image.id" [lessonList]="lessonList"
        [rawImage]="image.src"></app-images>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="imagesList == 0" class="ion-justify-content-center align-items-center">
      <ion-icon size="large" style="zoom:3.0;" name="images-sharp" color="medium"></ion-icon>
    </ion-row>
    <ion-row *ngIf="imagesList == 0" class="ion-justify-content-center align-items-center">
      <ion-text color="medium">
        <h4>No Image Found</h4>
      </ion-text>
    </ion-row>
  </ion-grid>
  
</ion-content>