
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Today is {{this.todayDay}}</ion-title>

    <ion-button (click)="presentModal()" slot="end">
      <ion-icon name="add-outline"></ion-icon>  
    </ion-button>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size-md>  
        <ion-button expand="block" (click)="setWeekDay()">{{ weekDay }}</ion-button>
        <ion-card >
          <ion-card-header>
            <ion-card-title>{{ weekDay }}</ion-card-title>
          </ion-card-header>
          <app-lesson *ngFor="let lesson of lessonList" (removingCurrentLesson)='removeSpecificLesson($event)' (changeCurrentLesson)="changeCurrentLesson($event)" [lesson]="lesson" [lessonList]="lessonList"></app-lesson>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>