<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon slot="start" name="share"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item button (click)="appTeilen()" class="ion-text-center">
      <ion-label color="primary">App teilen</ion-label>
    </ion-item>

    <ion-item  button (click)="rateApp()" class="ion-text-center">
      <ion-label color="primary">Rate this App</ion-label>
    </ion-item>

    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="pricetag"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item button class="ion-text-center">
      <ion-label color="primary">
        Remove Advertisement
        <ion-badge color="primary">2.29$</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item  button class="ion-text-center">
      <ion-label color="primary">Restore Purchases</ion-label>
    </ion-item>
  
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="trash"></ion-icon>
      </div>
    </ion-item-divider>
    
    <ion-item button (click)="deleteTableStorage()" class="ion-text-center">
      <ion-label color="danger">Reset TimeTable</ion-label>
    </ion-item>
  
    <ion-item button (click)="deleteImageStorage()" class="ion-text-center">
      <ion-label color="danger">Reset Images</ion-label>
    </ion-item>

    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="information-circle"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item detail="true" button class="ion-text-center" routerDirection="forward" [routerLink]="['/credits']">
      <ion-label>Credits & Privacy Policy</ion-label>
    </ion-item>

    <ion-item detail="true" href="https://smartgallery.app" class="ion-text-center">
      <ion-label><u>smartgallery.app</u></ion-label>
    </ion-item>

  </ion-list>
</ion-content>
