<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-label>Configure</ion-label>
        <!-- <ion-icon name="hammer"></ion-icon> -->
      </div>
    </ion-item-divider>

    <ion-item lines="full">
      <ion-label slot="start" class="ion-no-margin">Quick Select</ion-label>
      <ion-note class="ion-margin-vertical">select exact times e.g. 11.44</ion-note>
      <ion-toggle slot="end" [(ngModel)]="defaultTime" (ionChange)="settingsToggle($event, 'defaultTime')"></ion-toggle>
    </ion-item>

    <ion-item lines="none">
      <ion-label slot="start" class="ion-no-margin">Weekends</ion-label>
      <ion-note class="ion-margin-vertical">include Saturday & Sunday</ion-note>
      <ion-toggle slot="end" [(ngModel)]="fullWeek" (ionChange)="settingsToggle($event, 'fullWeek')"></ion-toggle>
    </ion-item>

    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-label>Smart Gallery</ion-label>
        <!-- <ion-icon slot="start" name="share"></ion-icon> -->
      </div>
    </ion-item-divider>

    <ion-item lines="full" button (click)="appTeilen()" class="ion-text-center">
      <ion-label>Share</ion-label>
    </ion-item>

    <ion-item lines="none"button (click)="rateApp()" class="ion-text-center">
      <ion-label>Rate</ion-label>
    </ion-item>

    <!-- <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="pricetag"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item button class="ion-text-center">
      <ion-label>
        Remove Advertisement
        <ion-badge color="success">$2.29</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item  button class="ion-text-center">
      <ion-label>Restore Purchases</ion-label>
    </ion-item> -->
  
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-label>Reset</ion-label>
        <!-- <ion-icon name="trash"></ion-icon> -->
      </div>
    </ion-item-divider>
    
    <ion-item lines="full" button (click)="deleteTableStorage()" class="ion-text-center">
      <ion-label color="danger">Schedule</ion-label>
    </ion-item>
  
    <ion-item lines="none" button (click)="deleteImageStorage()" class="ion-text-center">
      <ion-label color="danger">Images</ion-label>
    </ion-item>

    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-label>Information</ion-label>
        <!-- <ion-icon name="information-circle"></ion-icon> -->
      </div>
    </ion-item-divider>
    
    <ion-item lines="full" button (click)="presentModal()" class="ion-text-center">
      <ion-label color="warning">Tutorial</ion-label>
    </ion-item>
    
    <ion-item lines="full" detail="true" button class="ion-text-center" routerDirection="forward" [routerLink]="['/credits']">
      <ion-label>Credits & Privacy Policy</ion-label>
    </ion-item>

    <ion-item lines="none" class="ion-text-center">
      <ion-label>Version: {{ appVersionNumber }}</ion-label>
    </ion-item>

    <!-- <ion-item detail="true" href="https://smartgallery.app" class="ion-text-center">
      <ion-label><u>smartgallery.app</u></ion-label>
    </ion-item> -->

  </ion-list>
</ion-content>
