<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="hammer"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item>
      <ion-label slot="start" class="ion-no-margin">Quick Select</ion-label>
      <ion-note class="ion-margin-vertical">select exact times e.g. 11.44</ion-note>
      <ion-toggle slot="end" [(ngModel)]="defaultTime" (ionChange)="settingsToggle($event, 'defaultTime')"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label slot="start" class="ion-no-margin">Weekends</ion-label>
      <ion-note class="ion-margin-vertical">include Saturday & Sunday</ion-note>
      <ion-toggle slot="end" [(ngModel)]="fullWeek" (ionChange)="settingsToggle($event, 'fullWeek')"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label slot="start" class="ion-no-margin">Weeks</ion-label> 
      <ion-note class="ion-margin-vertical">how should the schedule be repeated?</ion-note>
    </ion-item>

    <ion-item class="ion-no-padding segment-ion-item">
      <ion-segment (ionChange)="segmentChanged($event)" value="{{ this.weekCount }}">
        <ion-segment-button value="1">
          <ion-label>1</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>2</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>3</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>4</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon slot="start" name="share"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item button (click)="appTeilen()" class="ion-text-center">
      <ion-label>Share App</ion-label>
    </ion-item>

    <ion-item  button (click)="rateApp()" class="ion-text-center">
      <ion-label>Rate this App</ion-label>
    </ion-item>

    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="pricetag"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item button class="ion-text-center">
      <ion-label>
        Remove Advertisement
        <ion-badge color="success">$2.29</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item  button class="ion-text-center">
      <ion-label>Restore Purchases</ion-label>
    </ion-item>
  
    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="trash"></ion-icon>
      </div>
    </ion-item-divider>
    
    <ion-item button (click)="deleteTableStorage()" class="ion-text-center">
      <ion-label color="danger">Reset Schedule</ion-label>
    </ion-item>
  
    <ion-item button (click)="deleteImageStorage()" class="ion-text-center">
      <ion-label color="danger">Reset Images</ion-label>
    </ion-item>

    <ion-item-divider color="medium">
      <div style="width: 100%; text-align: center;">
        <ion-icon name="information-circle"></ion-icon>
      </div>
    </ion-item-divider>
    
    <ion-item button (click)="presentModal()" class="ion-text-center">
      <ion-label color="warning">Tutorial</ion-label>
    </ion-item>
    
    <ion-item detail="true" button class="ion-text-center" routerDirection="forward" [routerLink]="['/credits']">
      <ion-label>Credits & Privacy Policy</ion-label>
    </ion-item>

    <ion-item detail="true" href="https://smartgallery.app" class="ion-text-center">
      <ion-label><u>smartgallery.app</u></ion-label>
    </ion-item>

  </ion-list>
</ion-content>
